footer {
  display: table;
  width: 100%;
  background: #3c4046;
  padding: 20px 0; /* 패딩 축소 */
}

.footer_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 12px; /* 텍스트 크기 축소 */
}

.contact-icons {
  margin-top: 10px; /* 상단 여백 축소 */
}

.contact-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px; /* 여백 축소 */
  font-size: 14px; /* 아이콘 크기 증가 */
}

.contact-icons a:hover {
  text-decoration: underline;
}
