#portfolio {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/coding4.png); /* Your background image */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Fixed position */
  background-size: cover; /* Cover the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Position relative for z-index */
}

#portfolio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,0.5); Semi-transparent black overlay */
  z-index: -1; /* Behind the background image */
}
.portfolio-header {
  width: 100%;
  height: auto; /* Adjust height to accommodate dynamic content */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center;
  gap: 10px; /* Adjust the gap between title and menu */
  margin-top: 150px;
}

.portfolio-header .title {
  color: #fff;
  font-size: 40pt; /* Larger font size for title */
  font-weight: 600;
  text-align: center; /* Center text */
}

.portfolio-header .portfolio-menu {
  display: flex;
  flex-wrap: wrap; /* Wrap menu items if necessary */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Adjust the gap between menu items */
  margin-top: 20px; /* Space between title and menu */
}

/* 버튼의 일반 스타일 */
.portfolio-header .portfolio-menu .btn {
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: #dadada;
  border: 2px solid transparent;
  border-radius: 20px; /* 둥근 모서리 추가 */
  font-size: 12pt; /* 글꼴 크기 증가 */
  font-weight: bold; /* 글꼴 두껍게 */
  color: #333; /* 글꼴 색상 변경 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-transform: uppercase; /* 대문자 변환 */
  letter-spacing: 1px; /* 글자 간격 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

/* 버튼 호버 시 스타일 */
.portfolio-header .portfolio-menu .btn:hover {
  background-color: #636c77; /* 배경 색상 변경 */
  color: #fff; /* 글꼴 색상 변경 */
  border-color: #fff; /* 테두리 색상 변경 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 그림자 강조 */
  transform: translateY(-2px); /* 버튼 이동 효과 */
}

/* 활성화된 버튼 스타일 */
.portfolio-header .portfolio-menu .on {
  background-color: #636c77;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 활성화된 버튼 그림자 강조 */
}
.border {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 20px 0 40px 0;
}

.container {
  display: flex;
  flex-wrap: wrap; /* 필요시 wrap 속성 추가 */
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  gap: 3rem;
  margin: 3rem 12rem;
  margin-bottom: 150px;
}
.container a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: #636c77;
  border: 2px solid #636c77;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.container a:hover {
  background-color: #6c6f71;
  color: #fff;
  border-color: #636c77;
}

.container a:focus {
  outline: none;
}

.container a:active {
  transform: translateY(2px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-inner {
  background: #ffffffb0;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  text-align: center;
}
.popup-inner h2{
  color: #404040;
  margin-bottom: 20px;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent; /* 배경을 투명하게 설정 */
  color: #636c77; /* 글꼴 색상 */
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s; /* 부드러운 색상 전환 효과 */
}

.popup-close:hover {
  color: #333; /* 호버 시 글꼴 색상 변경 */
}

.popup-close::before,
.popup-close::after {
  content: ''; /* 가상 요소 추가 */
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #636c77; /* 가상 요소의 색상 */
  transition: transform 0.3s, opacity 0.3s; /* 부드러운 애니메이션 효과 */
}

.popup-close::before {
  transform: rotate(45deg); /* 첫 번째 가상 요소를 회전 */
}

.popup-close::after {
  transform: rotate(-45deg); /* 두 번째 가상 요소를 회전 */
}

.popup-close:hover::before,
.popup-close:hover::after {
  opacity: 0.7; /* 호버 시 가상 요소 투명도 변경 */
}

.popup-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup-inner a {
  display: inline-block;
  padding: 10px 20px; /* 내용물과 여백 */
  margin: 0 20px;
  background-color: #636c77; /* 배경 색상 */
  color: #fff; /* 글꼴 색상 */
  border: 2px solid #fff; /* 테두리 */
  border-radius: 5px; /* 둥근 모서리 */
  text-decoration: none; /* 밑줄 제거 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */

  /* 글꼴의 스타일 */
  font-size: 14px; /* 글꼴 크기 */
  font-weight: bold; /* 글꼴 두껍게 */
  text-transform: uppercase; /* 대문자 변환 */
  letter-spacing: 1px; /* 글자 간격 */
}

.popup-inner a:hover {
  background-color: #fff; /* 호버 시 배경 색상 변경 */
  color: #636c77; /* 호버 시 글꼴 색상 변경 */
}

.popup-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.popup-links a img{
  margin-right: 10px;
}

.popup-links a {
  display: inline-flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #636c77;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}
.popup-links a:hover {
  background-color: #fff;
  color: #636c77;
}

.github-icon {
  width: 30px; /* 아이콘의 크기 조정 */
  height: 30px;
  transition: transform 0.3s, opacity 0.3s;
}

.github-link:hover .github-icon {
  transform: scale(1.1); /* 호버 시 아이콘 확대 */
  opacity: 0.7; /* 호버 시 아이콘 투명도 감소 */
}



.square {
  cursor: pointer;
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* 가운데 정렬을 위한 margin: auto; */
}

.square span {
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: #666;
  opacity: 0.5;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  transition: 0.5s;
  animation: circle 5s linear infinite;
}

.square:hover span {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.square span:nth-child(1) {
  animation: circle 6s linear infinite;
}

.square span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
}

.square span:nth-child(3) {
  animation: circle 10s linear infinite;
}

.square:hover span:nth-child(1) {
  opacity: 0.3;
}

.square:hover span:nth-child(2) {
  opacity: 0.5;
}

.square:hover span:nth-child(3) {
  opacity: 0.8;
}

.square div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 70%;
  height: 70%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: color 0.5s;
}

.square div a {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  font-size: 13px;
  transition: color 0.5s, border-color 0.5s;
}

.square div p {
  font-size: 30px;
  transition: color 0.5s;
}

.square:hover div {
  color: #000;
}

.square:hover div a {
  color: #000;
  border-color: #000;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.tech-icon {
  width: 40px;
  height: 40px;
}

.popup-inner h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

/* 모바일 최적화 */
@media (max-width: 768px) {
  .portfolio-header {
    flex-direction: row; /* Change to horizontal layout */
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: center;
    padding: 10px; /* Adjust padding for spacing */
  }

  .portfolio-header .title {
    font-size: 24pt; /* Adjust font size for smaller screens */
    writing-mode: horizontal-tb; /* Ensure text is horizontal */
    text-align: center; /* Center text on mobile */
  }

  .portfolio-header .portfolio-menu {
    flex-direction: row; /* Align menu items horizontally */
    gap: 10px; /* Adjust the gap between menu items */
  }

  .portfolio-header .portfolio-menu .btn {
    margin: 0 5px;
    padding: 0 15px;
    width: auto; /* Allow buttons to expand as needed */
  }

  .square {
    width: 100px; /* Adjust square width for smaller screens */
    height: 100px; /* Adjust square height for smaller screens */
    margin: 20px; /* Adjust margin between squares */
  }

  .square div {
    width: 80%; /* Adjust square content width */
    height: 80%; /* Adjust square content height */
  }
}
